

.myContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(255, 0, 179);
}


.main{
  text-align: center;
  background-color: rgb(165, 187, 250);
  border-radius: 20px;
  padding: 30px;
}

