* {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

#dataMainDiv{
  padding-bottom: 100px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 4%;
  padding-right: 4%;
  background-color: rgb(255, 0, 64);
  margin-bottom: 50px;
}

.optionsInput {
  display: flex;
  padding: 15px;
  justify-content: center;
}

.optionsInput input {
  padding: 2px;
  width: 300px;
  font-size: 20px;
  background: none;
  color: white;
  border-style: none;
}

.optionsInput button {
  color: rgb(0, 1, 73);
  font-weight: 600;
  cursor: pointer;
  background: none;
  border-style: none;
  font-size: 20px;
  margin-left: 5px;
}

::placeholder{
  color: rgb(0, 1, 73);
  box-shadow: 1px 1px 3px black;
}
.options {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.options h3 {
  padding-left: 30px;
  padding-right: 10px;
}

 a{
  color: rgb(0, 1, 73);
}

a:hover,button:hover{
  color:rgb(255, 255, 255) ;
}
#data {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  grid-gap: 2%;
  justify-content: center;
}

#mainCont {
  border: 1px solid rgb(206, 206, 206);
  padding: 10px;
}

#mainCont:hover {
  box-shadow: 1px 5px 10px black;
  cursor: pointer;
}

#mainCont2{
  text-align: center;
}

#data img {
  width: 100%;
  height: 300px;
}

#data img:hover {
  cursor: pointer;
}

#data p {
  font-size: 18px;
  font-weight: 600;
  /* padding: 10px; */
  color: rgb(255, 0, 64);
}

#data span {
  font-size: 22px;
  font-weight: 600;
  padding: 10px;
  color: rgb(0, 1, 73);
}
